<h3><%= @item.title %></h3>

<h4>Description</h4>
<p><%= @item.description %></p>


<%= link_to 'Edit this item', edit_project_item_url(@item.project_id, @item.id) %><br>
<%= link_to 'See project page', project_url(@item.project_id) %>



